html {
  height: 100%;
  background: #f2f2f2;
}
body {
  color: #333;
  font-family: "PingFangSC-Regular", "微软雅黑", "Microsoft YaHei";
}
header {
  position: relative;
  height: .9rem;
  background: #333333;
  line-height: .9rem;
}
header .back {
  margin-left: .3rem;
  position: absolute;
  width: .18rem;
  height: .9rem;
  background: url("../image/index/back.png") no-repeat left center;
  background-size: .18rem .32rem;
}
header h2 {
  font-size: .36rem;
  color: #ffffff;
  text-align: center;
  letter-spacing: .02rem;
}
header .info {
  margin-right: .3rem;
  right: 0;
  top: 0;
  position: absolute;
  width: .49rem;
  height: .9rem;
  background: url("../image/index/info.png") no-repeat right center;
  background-size: .49rem .1rem;
}
section .main {
  padding: .2rem .2rem 0;
  height: 100%;
}
section .main .msg {
  box-shadow: 0 0.04rem 0.1rem 0.04rem rgba(82, 82, 82, 0.06);
  margin-bottom: .2rem;
  font-size: .24rem;
  border-radius: .1rem;
  background: #ffffff;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
section .main .msg .trumpet {
  position: absolute;
  width: .32rem;
  height: .83rem;
  background: url("../image/index/trumpet.png") no-repeat center center;
  background-size: .32rem .27rem;
}
section .main .detail {
  background: #ffffff;
  box-shadow: 0 0.04rem 0.1rem 0.04rem rgba(82, 82, 82, 0.06);
  border-radius: .1rem;
}
.hotWords,
.newWords {
  border: 0.01rem solid #e26f7b;
  color: #e26f7b;
  font-size: .2rem;
  width: .56rem;
  height: .28rem;
  border-radius: .05rem;
}
.menu {
  font-size: 0;
  height: .3rem;
}
.menu li {
  display: inline-block;
  font-size: .28rem;
  color: #666666;
  width: 33.333333%;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.menu li:not(:last-child) {
  border-right: .02rem solid #e6e6e6;
}
.menu .likes {
  text-indent: .4rem;
}
.menu .likes:before {
  content: '';
  width: .34rem;
  height: .34rem;
  position: absolute;
  background: url("../image/likes.png") no-repeat center center;
  background-size: .34rem;
  top: -0.08rem;
  left: .7rem;
}
.menu .comm {
  text-indent: .43rem;
}
.menu .comm:before {
  content: '';
  width: .37rem;
  height: .37rem;
  position: absolute;
  background: url("../image/comment.png") no-repeat center center;
  background-size: .37rem;
  top: -0.06rem;
  left: .7rem;
}
.menu .share:before {
  content: '';
  width: .30rem;
  height: .31rem;
  position: absolute;
  background: url("../image/share.png") no-repeat center center;
  background-size: .30rem .31rem;
  top: -0.06rem;
}
#loginbar {
  background: #ffffff;
  border-bottom: .01rem solid #e6e6e6;
}
#loginbar .personInfo {
  height: 1.5rem;
  padding-left: .2rem;
  line-height: 1.5rem;
  border-bottom: .01rem solid #e6e6e6;
}
#loginbar .personInfo img {
  width: .9rem;
  height: .9rem;
  border-radius: .05rem;
  vertical-align: middle;
}
#loginbar .personInfo span {
  margin-left: .28rem;
  font-size: .32rem;
  vertical-align: middle;
}
#loginbar ul {
  margin: .2rem .3rem;
}
#loginbar ul li {
  display: inline-block;
  width: 50%;
  font-size: .28rem;
  padding: .14rem 0;
}
#loginbar ul li:first-child {
  border-right: .01rem solid #e6e6e6;
}
#loginbar ul li em {
  margin-left: .76rem;
}
#nav {
  margin-top: .2rem;
  border-top: .01rem solid #e6e6e6;
  border-bottom: .01rem solid #e6e6e6;
  padding-left: .2rem;
  background: #ffffff;
}
#nav li {
  font-family: "黑体";
  position: relative;
  height: 1rem;
  line-height: 1rem;
  font-size: .28rem;
  text-indent: .7rem;
}
#nav li:not(:last-child) {
  border-bottom: .01rem solid #e6e6e6;
}
#nav li a {
  position: absolute;
  background: url("../image/arrow.png") no-repeat center center;
  background-size: .14rem .27rem;
  width: .14rem;
  height: 100%;
  right: .3rem;
}
#nav .mypost {
  background: url("../image/center/mypost.png") no-repeat 0.11rem center;
  background-size: .36rem .37rem;
}
#nav .mycol {
  background: url("../image/center/mycol.png") no-repeat 0.08rem center;
  background-size: .4rem .36rem;
}
#nav .mylike {
  background: url("../image/center/mylike.png") no-repeat 0.1rem 0.26rem;
  background-size: .38rem .39rem;
}
#nav .myreply {
  background: url("../image/center/myreply.png") no-repeat 0.1rem 0.28rem;
  background-size: .38rem .37rem;
}
