body {
  color: #333;
  font-family: "PingFangSC-Regular", "微软雅黑", "Microsoft YaHei";
}
header {
  position: relative;
  height: .9rem;
  background: #333333;
  line-height: .9rem;
}
header .back {
  margin-left: .3rem;
  position: absolute;
  width: .18rem;
  height: .9rem;
  background: url("../image/index/back.png") no-repeat left center;
  background-size: .18rem .32rem;
}
header h2 {
  font-size: .36rem;
  color: #ffffff;
  text-align: center;
  letter-spacing: .02rem;
}
header .info {
  margin-right: .3rem;
  right: 0;
  top: 0;
  position: absolute;
  width: .49rem;
  height: .9rem;
  background: url("../image/index/info.png") no-repeat right center;
  background-size: .49rem .1rem;
}
section {
  background: #f2f2f2;
}
