@import "common";
.theme{
  font-size: .3rem;
}

.main{
  padding:0!important;
  margin:.2rem 0;
  .detail{
    border-radius: 0!important;
    box-shadow: none!important;
    .pic{
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
  .menu{
    margin:.3rem 0 .2rem;
    padding:.4rem 0;
    background: #fafafa;
  }
}