html {
  height: 100%;
  background: #f2f2f2;
}
body {
  color: #333;
  font-family: "PingFangSC-Regular", "微软雅黑", "Microsoft YaHei";
}
header {
  position: relative;
  height: .9rem;
  background: #333333;
  line-height: .9rem;
}
header .back {
  margin-left: .3rem;
  position: absolute;
  width: .18rem;
  height: .9rem;
  background: url("../image/index/back.png") no-repeat left center;
  background-size: .18rem .32rem;
}
header h2 {
  font-size: .36rem;
  color: #ffffff;
  text-align: center;
  letter-spacing: .02rem;
}
header .info {
  margin-right: .3rem;
  right: 0;
  top: 0;
  position: absolute;
  width: .49rem;
  height: .9rem;
  background: url("../image/index/info.png") no-repeat right center;
  background-size: .49rem .1rem;
}
section .main {
  padding: .2rem .2rem 0;
  height: 100%;
}
section .main .msg {
  box-shadow: 0 0.04rem 0.1rem 0.04rem rgba(82, 82, 82, 0.06);
  margin-bottom: .2rem;
  font-size: .24rem;
  border-radius: .1rem;
  background: #ffffff;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
section .main .msg .trumpet {
  position: absolute;
  width: .32rem;
  height: .83rem;
  background: url("../image/index/trumpet.png") no-repeat center center;
  background-size: .32rem .27rem;
}
section .main .detail {
  background: #ffffff;
  box-shadow: 0 0.04rem 0.1rem 0.04rem rgba(82, 82, 82, 0.06);
  border-radius: .1rem;
}
.hotWords,
.newWords {
  border: 0.01rem solid #e26f7b;
  color: #e26f7b;
  font-size: .2rem;
  width: .56rem;
  height: .28rem;
  border-radius: .05rem;
}
.menu {
  font-size: 0;
  height: .3rem;
}
.menu li {
  display: inline-block;
  font-size: .28rem;
  color: #666666;
  width: 33.333333%;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.menu li:not(:last-child) {
  border-right: .02rem solid #e6e6e6;
}
.menu .likes {
  text-indent: .4rem;
}
.menu .likes:before {
  content: '';
  width: .34rem;
  height: .34rem;
  position: absolute;
  background: url("../image/likes.png") no-repeat center center;
  background-size: .34rem;
  top: -0.08rem;
  left: .7rem;
}
.menu .comm {
  text-indent: .43rem;
}
.menu .comm:before {
  content: '';
  width: .37rem;
  height: .37rem;
  position: absolute;
  background: url("../image/comment.png") no-repeat center center;
  background-size: .37rem;
  top: -0.06rem;
  left: .7rem;
}
.menu .share:before {
  content: '';
  width: .30rem;
  height: .31rem;
  position: absolute;
  background: url("../image/share.png") no-repeat center center;
  background-size: .30rem .31rem;
  top: -0.06rem;
}
.modal {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.popUpComm {
  position: absolute;
  background: #ffffff;
  border-radius: .1rem;
  margin: .4rem auto 0;
  width: 7.1rem;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
}
.popUpComm textarea {
  padding: .3rem;
  font-size: .28rem;
  width: 100%;
  line-height: .36rem;
  height: 2.9rem;
  border-top-left-radius: .1rem;
  border-top-right-radius: .1rem;
  border-bottom: .02rem solid #e6e6e6;
}
.popUpComm .pannel {
  border-bottom-right-radius: .1rem;
  border-bottom-left-radius: .1rem;
  background: #fafafa;
  padding: 0 .42rem;
  height: 1rem;
  line-height: 1rem;
}
.popUpComm .pannel i {
  vertical-align: middle;
  display: inline-block;
  background: url("../image/emoji.png") no-repeat;
  background-size: contain;
  width: .42rem;
  height: .42rem;
}
.popUpComm .pannel .btnWrapper {
  float: right;
  font-size: .26rem;
}
.popUpComm .pannel .btnWrapper button {
  vertical-align: middle;
  width: 1rem;
  height: .5rem;
  text-align: center;
  line-height: .5rem;
  border-radius: .05rem;
}
.popUpComm .pannel .btnWrapper .cancel {
  background: transparent;
  border: .01rem solid #999999;
}
.popUpComm .pannel .btnWrapper .post {
  margin-left: .3rem;
  background: #18d0d1;
  color: #ffffff;
}
.forwardArrow {
  position: absolute;
  background: url("../image/arrow.png") no-repeat center center;
  background-size: .14rem .27rem;
  width: .14rem;
  height: 100%;
  right: .3rem;
}
.theme {
  position: relative;
  background: #ffffff;
  border-bottom: .01rem solid #e6e6e6;
}
.theme img {
  width: .9rem;
  height: .9rem;
  margin: .2rem;
}
.theme .title {
  margin: .3rem 0 .3rem .1rem;
}
.theme .title h4 {
  font-size: .32rem;
}
.theme .title p {
  margin-top: .2rem;
  font-size: .22rem;
  color: #999;
}
.theme .forward {
  position: absolute;
  background: url("../image/forward.png") no-repeat center center;
  right: .3rem;
  width: .31rem;
  height: .27rem;
  background-size: .31rem .27rem;
  top: 50%;
  margin-top: -0.135rem;
}
.detail {
  padding: .2rem;
}
.detail .author img {
  width: .7rem;
  height: .7rem;
  border-radius: 50%;
}
.detail .author .authorInfo {
  margin-left: .2rem;
  width: 5rem;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.detail .author .authorInfo h5 {
  margin-top: .09rem;
  font-size: .24rem;
}
.detail .author .authorInfo p {
  font-size: .2rem;
  margin-top: .17rem;
}
.detail .author .collect {
  margin-right: .1rem;
}
.detail .author .collect dt {
  margin: 0 auto;
  width: .35rem;
  height: .33rem;
  background: url("../image/collect.png") no-repeat center center;
  background-size: .35rem .33rem;
}
.detail .author .collect dd {
  margin-top: .1rem;
  font-size: .2rem;
  color: #666666;
}
.detail .topic {
  margin: .3rem 0;
  margin-left: .1rem;
}
.detail .topic .hotWords {
  position: absolute;
  top: 0.02rem;
  text-align: center;
  line-height: .28rem;
}
.detail .topic .newWords {
  position: absolute;
  top: 0.02rem;
  text-align: center;
  line-height: .28rem;
  color: #45abeb;
  border-color: #45abeb;
}
.detail .topic h2 {
  font-size: .32rem;
  margin-left: .79rem;
  font-family: 'Adobe 黑体 Std R';
  font-weight: 700;
}
.detail .describe {
  margin-left: .1rem;
  color: #999;
  font-size: .24rem;
  line-height: .36rem;
}
.detail .pic {
  margin: .29rem 0 .39rem;
  width: 6.7rem;
  height: 3.75rem;
}
html {
  background: #ffffff;
}
.theme {
  border-bottom: .01rem solid #e6e6e6;
}
